<div class="collection_info">

    <div class="collection_text {% if cap_inverted_style %}inverted{% endif %}">
        <div>
            <h1 class="collection_title">{{ collection.title }}</h1>
        </div>
    </div>
</div>